{% if ansible_distribution == 'Ubuntu' %}
{% set apt_mirror    = apt_mirror | default("ubuntu.mirror.ac.ke") %}

deb http://{{ apt_mirror }}/ubuntu/ {{ ansible_distribution_release }} main restricted universe multiverse
deb http://{{ apt_mirror }}/ubuntu/ {{ ansible_distribution_release }}-updates main restricted universe multiverse
deb http://security.ubuntu.com/ubuntu/ {{ ansible_distribution_release }}-security main restricted universe multiverse

{% else %}
{% set apt_mirror    = apt_mirror | default('deb.debian.org') %}
deb http://{{ apt_mirror }}/debian/ {{ ansible_distribution_release }} main contrib non-free

deb http://security.debian.org/debian-security {{ ansible_distribution_release }}/updates main contrib non-free

deb http://{{ apt_mirror }}/debian/ {{ ansible_distribution_release }}-updates main contrib non-free
{% endif %} {# ansible_distribution #}
