{% if ansible_distribution == 'Ubuntu' %}
{% if nginx_version == "stable" %}
deb http://nginx.org/packages/ubuntu/ {{ ansible_distribution_release }} nginx
{% elif nginx_version == "mainline" %}
deb http://nginx.org/packages/mainline/ubuntu/ {{ ansible_distribution_release }} nginx
{% endif %}
{% endif %}

{% if ansible_distribution == 'Debian' and ansible_distribution_release == 'jessie' %}
{% if nginx_version == "stable" %}
deb http://nginx.org/packages/debian/ jessie nginx
{% elif nginx_version == "mainline" %}
deb http://nginx.org/packages/mainline/debian/ jessie nginx
{% endif %}
{% endif %}
